@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Oswald", "sans-serif";
}

.destination__title {
  writing-mode: vertical-rl;
}

@media screen and (max-width: 1023px) {
  .destination__title {
    writing-mode: horizontal-tb;
  }
}
