@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Oswald", "sans-serif";
}

.destination__title {
  writing-mode: vertical-rl;
}

@media screen and (max-width: 1023px) {
  .destination__title {
    writing-mode: horizontal-tb;
  }
}

/* before red  */

.red-line-before:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0.7rem;
  background-color: #df052c;
}
